.App {
  
}


.AppHeader {
  width: 100vw;
  background-color: grey;
}

.AppMain {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.wrapperWorkSpace {
  width: 70%;
  min-height: calc(100vh - 50px);
}